.odd {
    background-color: rgba(221, 135, 135, 0.87);
    color: rgb(44, 17, 17);
    font-family: Verdana, "DejaVu sans", sans-serif;
}


#bluetext {
    font-size: 32px;
    color: blue;
}

.odd.bold {
    font-size: 24px;
}

#green-bg {
    font-size: 24px;
    background-color: rgba(131, 218, 123, 0.87);
    font-weight: bold;
}